body{
    color: #000;
    background: #FFF;
    padding: 0px;
    margin: 0px;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
}

.grid{
    max-width: 1300px;
    width: 100%;
    height: auto;
    margin: 10px auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 400px);
    justify-content: center;
    grid-gap: 10px;
}
.grid img{
    width: 400px;
    height: 300px;
    cursor: pointer;
    border-radius: 5px;
}
.grid img:hover {opacity: 0.9;}
.sinscr{
    width: 100%;
    height: 500px;
    text-align: center;
    margin-top: 100px;
}
.input{
    width: 70%;
    height: 70px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    border: none;
    outline: none;
    border-bottom: 1px solid #000 ;
    margin-bottom: 5px;
} 

/* debut nav */

nav{
    background-color: #fff;
    color: #000;
}
nav ul li{
    margin: 0 10px ;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
nav span i{
    color: #000;
    font-size: 25px;
    /* flex: 1;     */
}

nav input[type="search"]{
    width: 300px;
    height: 50px;
    display: none;
    outline: none;
    margin: 0 auto;   
}
input[type="button"]{
    background-color: #ff5733;
    color: #fff;
}
@media screen and (max-width:991px) {
    nav div.collapse{
        text-align: center;
        line-height: 50px;
    }
}
                        /* fin du nav */
                        /* debut footer */
 
footer section a i{
    color: #ff5733;
} 
                        /* fin footer */
.dark-mode{
    background-color: #161616;
    color: #fff;
}




.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
  }
  
  /* Caption of Modal Image */
  #caption {
    margin: auto;
    display: block;
    width: 80%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, #caption {  
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @keyframes zoom {
    from {transform: scale(0.1)} 
    to {transform: scale(1)}
  }
  
  /* The Close Button */
  .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #f1f1f1;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
  }
  
  .close:hover,
  .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }