body{
    color: #000;
    background: #FFF;
    padding: 0px;
    margin: 0px;
    font-family:'Open Sans', sans-serif;
    overflow-x: hidden;
}


                                  /* debut article */

form {
    outline: none;
    text-align: center;
    text-decoration: none;
    padding: 20px 0 0 30px;
    text-transform: capitalize;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
     margin-top: 200px ;
    box-shadow:  0 0 5px rgb(224, 222, 222);
    
}  
form input ,select{
    width: 260px;
    height: 50px;
    border: none;
    border-radius: 10px;
    text-align: center;
    margin-top: 20px;
    font-size: 16px;
} 
input[type="button"]{
    background-color: #ff5733;
    color: #fff;
}
input:required {
    background:  url("risque.jpg") 98% center no-repeat white;  
    background-size: 14px 14px;
    outline: none;
} 
input:focus:invalid{
    border: 2px solid red;
    background-image: none;
}

input:focus:invalid + div{
    display: block;
    color: red;
} 
 input:required:valid{
    border: 2px solid rgb(68, 161, 68);
    background-image: none;
    background: url("valide.png") 98% center no-repeat white; 
    background-size: 14px 14px;    
} 

 .Article {
    padding: 200px;
}   

 .Article .art-chil{
    height: 350px;
    width: 300px;
    border-radius: 10px;
     text-align: center; 
    border: 1px solid rgb(235, 232, 232);  
    box-shadow: 10px 10px 0px rgb(235, 232, 232);
    margin-right: 50px;   
}  
.Article .art-chil p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding: 10px;
}   


                                        /* fin article */

                                        /* debut footer */

nav{
    background-color: #fff;
    color: #000;
}
nav ul li{
    margin: 0 10px ;
    display: flex;
    justify-content: end;
    cursor: pointer;
}
nav span i{
    color: #000;
    font-size: 25px;
}

nav input[type="search"]{
    width: 300px;
    height: 50px;
    display: none;
    outline: none;
    margin: 0 auto;   
}
nav input[type="button"]{
    background-color: #ff5733;
    color: #fff;
}
@media screen and (max-width:991px) {
    nav div.collapse{
        text-align: center;
        line-height: 50px;
    }
    
}
                        /* fin du nav */
                        /* debut footer */
 
footer section a i{
    color: #ff5733;
} 
                        /* fin footer */
.dark-mode{
    background-color: #161616;
    color: #fff;
}
